<div ng-include="'partials/navbar.html'"></div>

<div class="container">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h2>About</h2>
    <p>Radsquared was created by two radiology residents at MGH and Cornell to efficiently sort through the vast amounts of quality educational content contained within books and journal articles.</p>
    <p>We use natural language processing and machine learning to curate snippets of relevant radiology knowledge.</p>
    <p><a href="mailto:leon@filopod.com">Contact Us</a></p>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div ng-include="'partials/footer.html'"></div>
