<div ng-include="'partials/navbar.html'"></div>

<div class="container">
  <h2></h2>

  <tabset justified="true">
    <tab heading="Basic info">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row text-center">
          <h2 ng-if="currentUser.provider === 'local'">Signed in using a Radsquared account.</h2>
          <h2 ng-if="currentUser.provider !== 'local'">Signed in using:</h2>
          <p ng-if="currentUser.provider === 'google'"><img src="images/64-googleplus.png" /></p>
          <p ng-if="currentUser.provider === 'facebook'"><img src="images/64-facebook.png" /></p>
          <p ng-if="currentUser.provider === 'twitter'"><img src="images/64-twitter.png" /></p>
          <p class="text-left">Note: You should use the same sign-in method in the future to keep all your saved library items and settings consistent.</p>
        </div>
      </div>
      <div class="col-md-4"></div>
    </tab>
    <tab heading="User statistics">
      <div class="row text-center">
        <h2>User statistics</h2>
      </div>
    </tab>
    <tab heading="Change password" ng-if="currentUser.provider === 'local'">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row">
          <h2>Change password</h2>

          <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
            
            <div class="form-group">
              <label>Current password</label>

              <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                     mongoose-error/>    
              <p class="help-block" ng-show="form.password.$error.mongoose">
                  {{ errors.other }}
              </p>
            </div>

            <div class="form-group">
              <label>New password</label>

              <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" 
                     ng-minlength="3"
                     required/>
              <p class="help-block"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                Password must be at least 3 characters.
              </p>
            </div>

            <p class="help-block"> {{ message }} </p>

            <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
          </form>
        </div>
      </div>
      <div class="col-md-4"></div>
    </tab>
  </tabset>
</div>


<div ng-include="'partials/footer.html'"></div>