<div ng-include="'partials/navbar.html'"></div>

<div class="container">
  <h2>Privacy Policy</h2>

<p>This privacy policy is for this website [www.radsquared.com] and served by FILOPOD LLC and governs the privacy of its users who choose to use it. This website and it's owners take a proactive approach to user privacy and ensure the necessary steps are taken to protect the privacy of its users throughout their visiting experience.</p>

<p><em>Social Network Login</em></p>
 
<p>If you chose to use third-party social networking sites, such as Facebook or Twitter, to log into one of our sites that offers that login feature, we may collect information, such as your basic profile information, gender, age, interests, and other demographic and geographical information, from the social networking site you use to interact with our site.  If you do not want to share information from your social networking account with us you can either decline to use these features or check your social networking site’s current privacy setting options to see what options they provide for limiting disclosures when you use login sharing features.</p>

<p>This privacy statement will apply to our use of information collected about you through these offerings. We do not control the privacy practices of your social networking sites. As a result, we want you to be aware that when you use these offerings you may be providing information to both us and the social networking site, and you should review your social networking site’s privacy statement to be sure that you know how it will use any data that it collects.  Similarly, if you choose to post content from our site through your social networking accounts, you will be sharing information about your activities with your social networking provider.</p>

<p><em>Use of Cookies</em></p>

<p>This website uses cookies to better the users experience while visiting the website. Where applicable this website uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of cookies on their computer / device. This complies with recent legislation requirements for website's to obtain explicit consent from users before leaving behind or reading files such as cookies on a users computer / device.</p>

<p>Cookies are small files saved to the users computers hard drive that track, save and store information about the users interactions and usage of the website. This allows the website, through it's server to provide the users with a tailored experience within this website.</p>

<p>Users are advised that if they wish to deny the use and saving of cookies from this website on to their computers hard drive they should take necessary steps within their web browsers security settings to block all cookies from this website and it's external serving vendors.</p>

<p>This website uses tracking software to monitor it's visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your computers hard drive in order to track and monitor your engagement and usage of the website but will not store, save or collect personal information. You can read <a href="http://www.google.com/privacy.html" target="_blank">Google's privacy policy</a> for further information.</p>

<p>Other cookies may be stored to your computers hard drive by external vendors when this website uses referral programs, sponsored links or adverts. Such cookies are used for conversion and referral tracking and typically expire after 30 days, though some may take longer. No personal information is stored, saved or collected.</p>

</div>

<div ng-include="'partials/footer.html'"></div>
